@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Open+Sans+Condensed:wght@700&display=swap");
@import "./variables.scss";
@import "./mixins.scss";

body,
html {
	font-family: "Open Sans", sans-serif;
}

body > * {
	color: $clrPrimary1;
}

// hero fonts
.fontHero__title {
	@extend .fontHeader;
	text-transform: capitalize;
	font-size: clamp(40px, 10vw, 70px);
	line-height: 1.2;
}
.fontHero__subtitle {
	font-size: clamp(16px, 5vw, 20px);
	line-height: 1.5;
}

// page sections
.fontMediaSection {
	// font-family: "Open Sans", sans-serif;
	font-family: "Open Sans Condensed", sans-serif;
	margin-bottom: 1rem;
	// color: $clrPrimary1;
	text-transform: uppercase;
	font-size: clamp(18px, 5vw, 22px);
	padding-left: 1rem;
}
.fontHeader {
	font-family: "Open Sans Condensed", sans-serif;
}

.fontFooter {
	// color: $clrPrimary1;
	// font-weight: 300;
	font-size: clamp(15px, 5vw, 16px);
	padding-left: 1rem;
}

// component fonts

.fontMediaItem__title {
	@extend .fontHeader;
	font-size: clamp(18px, 5vw, 20px);
	font-weight: 700;
}

.fontMediaItem__year {
	font-size: clamp(16px, 5vw, 20x);
	font-weight: 300;

	// font-style: italic;
}
.fontMediaItem__plot {
	// @include textTruncation(16px, 1.2, 3);
	margin-top: 0.5rem;
}

// media page fonts
.fontMediaPage {
	&__title {
		@extend .fontHero__title;
		font-size: clamp(18px, 5vw, 50px);
		overflow: hidden;
		line-height: 1.2;
		-webkit-line-clamp: 2;
		// max-height: 8rem;
		-webkit-box-orient: vertical;
		display: block;
		display: -webkit-box;
		overflow: hidden !important;
		text-overflow: ellipsis;
		margin-bottom: 0.5rem;
	}

	&__plot {
		font-style: italic;
		font-size: clamp(16px, 5vw, 20px);
		line-height: 1.5;
	}
	&__infoLabel {
		font-family: "Open Sans Condensed";
		font-weight: bold;
		display: block;
	}
	&__infoContent {
		padding-top: 0.15rem;
		// margin-bottom: 0.8rem;
		line-height: 1.8;
	}
}

// forms
.fontRegForm {
	&__error {
		color: red;
	}
	&__title {
		@extend .fontMediaSection;
		padding-left: 0;
	}
	&__subtitle {
		@extend .fontHero__subtitle;
		font-size: clamp(14px, 5vw, 16px);
	}
}

// navs
.fontNavItem > * {
	font-family: "Open Sans Condensed";
	font-weight: 700;
	font-size: clamp(16px, 5vw, 18px);
	text-decoration: none;
}
