@import "../../utils/styles/mixins.scss";
@import "../../utils/styles/variables.scss";
@import "../../components/HeroSection/styles.scss";
.searchPage {
	position: relative;

	&__searchBarBgr {
		height: 20vh;
		min-height: 150px;
	}
	.searchBarWrapper,
	.searchResultsWrapper {
		@include mainContainer();
		display: flex;
	}
	.searchResultsWrapper {
		justify-content: center;
		flex-direction: column;
		align-items: center;
		padding-bottom: 2.5rem;
	}

	.searchBarWrapper {
		position: relative;
		width: calc(100% - 2rem);
		position: absolute;
		top: calc(1rem + 5vw);
		left: 0;
		right: 0;
		// transform: translate(-50%, 50%);

		justify-content: center;
		@media screen and (min-width: 768px) {
			justify-content: flex-end;
			// align-items: flex-end;
		}
		> .searchBar {
			max-width: 500px;
		}
	}
	.resultStatus {
		padding-top: 1rem;
	}
}
.backgroundImage {
	@extend .backgroundImage;
}
