@import "../../utils/styles/variables.scss";
.searchItem {
	background: $clrBgrSecondary;
	margin-bottom: $marginFluidSmall;
	padding: 0.5rem;
	height: 100%;
	min-height: 100px;
	display: flex;
	border-radius: 10px;
	/* 	@media screen and (min-width: 960px) {
		min-height: 150px;
	} */
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 1rem;
	align-items: center;

	&__poster {
		grid-column: 1/2;
	}
	&__brief {
		grid-column: 2/3;
	}
	&__poster {
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			// width: 100%;
			max-width: 130px;
			max-height: 135px;
			height: clamp(100px, 5vw, 135px);
			width: clamp(100px, 5vw, 130px);
			object-position: center;
			object-fit: cover;
			border-radius: 5px;
		}
	}

	&__brief {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		&__title {
			margin-top: $marginFluidMed;
			a {
				text-decoration: none;
				color: $clrPrimary1;
				&:visited {
					color: $clrSecondary1;
				}
			}
		}
		&__year {
			margin-bottom: $marginFluidMed;
		}
	}
}
.searchItem {
	transition: all 0.5s ease-in-out;
	position: relative;
	z-index: 0;
	transition: all 0.5s ease-in;
	&::before {
		position: absolute;
		content: "";
		top: 0;
		background: $clrGradientPrimary;
		height: 100%;
		width: 100%;
		z-index: -1;
		opacity: 0;
		border-radius: 10px;
	}
	&:hover::before {
		opacity: 0.3;
	}
}
