@import "../../utils/styles/variables.scss";
@import "../../utils/styles/mixins.scss";
.mediaItem {
	// grid-row: 1/-1;
	scroll-snap-align: start;
	width: 135px;
	height: clamp(135px, 15vw, 250px);
	@media screen and (min-width: 960px) {
		width: 220px;
		height: 300px;
	}
	border-radius: 10px;
	// background: red;
	&__poster {
		background: #e9e62d;
		background-repeat: no-repeat;
		background-position: top center;
		&::before {
			content: "";
			top: 0;
			height: 100%;
			width: 100%;
			background: $clrBgrPrimary;
			opacity: 0;
		}
	}
	&__poster,
	&__poster::before {
		border-radius: 10px;
	}
	&__brief {
		padding: 1rem 0.8rem;
		border-radius: 0 0 8.9px 8.9px;
		flex-direction: column;
		justify-content: baseline;
		display: none;
		@media screen and (min-width: 960px) {
			display: flex;
			position: relative;
		}
		&__title {
			// the mixin takes 3 args
			// fontSize, lineHeight &
			// linesToShow
			font-size: 20px;
			line-height: 1.2;
			margin-bottom: 0.2rem;
		}
		&__year {
			font-size: 16px !important;
		}
		/* 	&__plot {
			font-size: 16px;
			line-height: 1.5;
		} */
	}
}

/* ------------- positioning ------------- */

.mediaItem {
	z-index: 0;
	position: relative;

	&__poster {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		&::before {
			position: absolute;
			z-index: 0;
		}
	}
	&__brief {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
/* --------------------------------------- */

/* -------------- animation -------------- */
.mediaItem {
	// width: 100%;
	z-index: 0;
	transform-origin: center;

	&__brief {
		transition: all 250ms ease-in-out;
		opacity: 0;
		background-color: $clrBgrPrimary;
		height: 30%;
		clip-path: inset(100% 0 0 0);
	}
	transition: all 250ms ease-in-out;
	&:hover {
		.mediaItem__poster::before {
			opacity: 0.6;
		}

		.mediaItem {
			&__brief {
				opacity: 0.9;
				// height: 30%;
				clip-path: inset(0 0 0 0);
			}
		}
	}

	&.rightMost:hover {
		// transform-origin: center right;
		transform-origin: right;
		transform: scale(1.2) translateX(-0.5rem);
	}
	&.leftMost:hover {
		// transform-origin: center left;
		transform-origin: left;
		transform: scale(1.2) translateX(0.5rem);
	}
}

.mediaItem__poster {
	cursor: pointer;
}

.mediaItem {
	.addNominationBtn {
		// opacity: 1;
		path {
			opacity: 0.9;
		}
		justify-self: flex-end;
		align-self: flex-end;
	}
}
