@import "../../utils/styles/variables.scss";
@import "../../utils/styles/mixins.scss";
.header {
	min-height: clamp(50px, 5vw, 60px);
	background: $clrBgrPrimary;
	.headerContainer {
		@include mainContainer;
		padding: 0 1rem;
		display: flex;
		justify-content: space-between;
	}

	.brand {
		display: flex;
		align-items: center;
	}
	.navList {
		max-width: 10vw;
		min-width: 150px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		.navItem {
			list-style: none;
		}
	}

	.navList > * {
		color: $clrPrimary1;
	}
}
