@import "./utils/styles/variables.scss";

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

.page {
	min-height: 100vh;
	position: relative;
	background: $clrBgrPrimary;
}

.btn {
	font-size: clamp(12px, 5vw, 16px);
	cursor: pointer;
	box-sizing: border-box;
	text-transform: capitalize;
	color: $clrPrimary1;
	background-color: $clrBgrSecondary;
	padding: 0.2rem 1rem;
	&--secondary {
		background-color: transparent !important;
		border: 1px solid $clrSecondary1 !important;
		color: $clrSecondary1;
	}
	&:focus {
		outline: none;
		box-shadow: 0 0 0 1.5px $clrPrimary1;
	}
}
